AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT=

MONGO_URI=
MONGO_DB_NAME=

BACKEND_PORT=8000

QDRANT_URL=
QDRANT_API_KEY=

ELASTIC_ENDPOINT=
ELASTIC_API_KEY=

LLAMA_PARSE_API_KEY=
